body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 15vw;
}
img {
  width: 100%;
}
.box {
  width: 100px;
  height: 100px;
  background-color: green;
  margin: 5px;
}
