body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.scrollContainer {
  width: 600%;
  display: flex;
  flex-wrap: nowrap;
}

.section {
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-size: 36px;
  line-height: 90vh;
}

.section:nth-child(1) {
  background-color: #deb887;
}

.section:nth-child(2) {
  background-color: limegreen;
}

.section:nth-child(3) {
  background-color: #b8860b;
}

.section:nth-child(4) {
  background-color: #2f4f4f;
}

.proxy {
  position: absolute;
  visibility: hidden;
}
